.subheader-data-table {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-bottom: -5px;
}

.mdc-data-table__header-cell {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
}

#list-of-events {
  margin-top: 10px;
}

.button-item {
  margin-left: 10px;
}
